schemas/xsd-artist-toptags.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="LastFM">

<xsd:element name="toptags">
<xsd:complexType>
    
    <xsd:sequence>
    <xsd:element name="tag" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="count">
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="url" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="artist" type="xsd:string"/>

</xsd:complexType>
</xsd:element>

</xsd:schema>
