schemas/xsd-fans.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="LastFM">

<xsd:element name="similarartists">
<xsd:complexType>
    
    <xsd:sequence>
    <xsd:element name="user" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="url" type="xsd:string"/>
        <xsd:element name="image" type="xsd:string"/>
        <xsd:element name="weight" type="xsd:integer"/>
      </xsd:sequence>
      <xsd:attribute name="username" type="xsd:string"/>
    </xsd:complexType>
    </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="artist" type="xsd:string"/>

</xsd:complexType>
</xsd:element>
</xsd:schema>
