schemas/xsd-topalbums.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="LastFM">

<xsd:element name="lfm">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="topalbums">
<xsd:complexType>
    
    <xsd:sequence>
    <xsd:element name="album" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="mbid" type="xsd:string"/>

      </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    </xsd:sequence>

</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
