schemas/xsd-mostknowntracks.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="LastFM">

<xsd:element name="mostknowntracks">
<xsd:complexType>
    
    <xsd:sequence>
    <xsd:element name="track" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="mbid" type="xsd:string"/>
        <xsd:element name="reach" type="xsd:integer"/>
        <xsd:element name="url" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="artist" type="xsd:string"/>

</xsd:complexType>
</xsd:element>
</xsd:schema>
